@import "global-settings.css" all;

/* Reset, fonts, margins and other shit */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(5, 5, 5);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

* {
    transition: all ease 0.15s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
b {
    margin: 0;
}


/* default beautify */

a {
    color: var(--default-link);
}

a:hover {
    color: var(--default-link-hover);
}

input {
    border: var(--color-border) calc(var(--border-thickness) / 2) solid;
    border-radius: calc(var(--border-radius) / 2);
    background-color: lightgray;
    padding: 2px;
}

input:hover {
    filter: brightness(0.9);
}

input:active {
    filter: brightness(1.1);
}


/* layout elements */

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: var(--container-width);
    height: fit-content;
}

.separator {
    width: 100%;
    height: var(--separator-height);
    margin: 10px 0;
}

.column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    height: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    height: fit-content;
}


/* Interactive elements */


/* Button 1 */

.button1 {
    height: 120px;
    min-width: 200px;
    border: var(--color-border) var(--border-thickness) solid;
    border-radius: var(--border-radius);
    filter: grayscale(0.45) contrast(0.85) hue-rotate(-20deg);
    display: flex;
    text-decoration: none;
}

.button1:hover {
    filter: none;
    backdrop-filter: none;
}

.b1_img {
    height: calc(120px - var(--border-thickness) - var(--border-thickness));
    width: 120px;
    border-right: var(--color-border) var(--border-thickness) solid;
    background-color: var(--color-border);
}

.b1_p {
    padding: 10px;
}


/* Button 2 */


/* image block 1 */

.image1 {
    height: fit-content;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: fit-content;
    border: var(--color-border) var(--border-thickness) solid;
    border-radius: var(--border-radius);
    filter: grayscale(0.45) contrast(0.85) hue-rotate(-20deg);
    display: flex;
}

.img1_img {
    min-height: 10px;
    width: 100%;
    background-color: var(--color-border);
}

.img1_text {
    background-color: var(--color-border);
    min-height: 20px;
    width: 100%;
}

.image1:hover {
    backdrop-filter: none;
    filter: none;
}


/* materials/effects */

.acryl {
    backdrop-filter: grayscale(0.75) contrast(0.75) blur(1px)hue-rotate(10deg);
    z-index: 1;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 7px 9px 3px rgba(0, 0, 0, 0.2);
}

.acryl:before {
    filter: blur(8px);
    z-index: -1;
}

.glass {
    backdrop-filter: grayscale(0.1) contrast(1.45) hue-rotate(-1deg);
    z-index: 1;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 7px 9px 3px rgba(0, 0, 0, 0.2);
}

.glass:before {
    filter: blur(3px);
    z-index: -1;
}

.tinted {
    background-color: rgba(0, 0, 0, 0.2);
}

.matte {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2), 7px 9px 3px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px) brightness(1.2) contrast(0.8);
}

.matte:before {
    filter: blur(3px);
    z-index: -1;
}

.invert {
    filter: invert();
}


/* end of materials/effects */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 219, 225, 100);
}